html {
  font-size: 62.5%;
}

.main-nav {
  display: flex;
  transform: translate(0, 0);
}

.main-nav-list {
  font-size: 2.25rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 3.2rem;
}

.main-nav-list a:hover {
  color: #e67e22;
}

.nav-btn:hover {
  background-color: #d16a0f;
  color: #fff;
}

.main-nav-link {
  font-family: sans-serif;
  color: #444;
  font-weight: 600;
  text-decoration: none;
}

.logo {
  height: 2.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  margin-top: 2rem;
}

.nav-btn {
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  color: #fff;
}

.header-btn {
  width: 4.8rem;
  height: 4.8rem;
  display: none;
  color: #444;
}

.header-btn:hover {
  cursor: pointer;
}

.x-icon {
  width: 4.8rem;
  height: 4.8rem;
  display: none;
  color: #444;
}

.x-icon {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .main-nav-list {
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
  }
  .main-nav {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transform: translate(100%, 0);
    transition: all ease 0.3s;
  }
  .header-btn {
    display: block;
  }
  .x-icon {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .main-nav-mobile {
    transform: translate(0, 0);
  }
}
